.user-details {
  .user-cover-photo {
    min-height: 280px;
    background-size: cover;
    background-position: center;
  }

  .user-thumbnail-content {
    @include centerer(true, false);

    color: #fff;
    top: 30px;
    text-align: center;

    .thumbnail {
      width: 128px;
      margin: 0 auto;
    }

    .username {
      font-size: 30px;
      margin: 0;
      font-family: 'Helvetica-Bold';
    }
  }

  .user-counts {
    background-color: $nav-bg-color;

    .nav {
      li {
        padding: 8px 15px;
        text-align: center;

        h2 {
          color: $site-blue;
        }

        p {
          color: #fff;
          text-transform: uppercase;
        }
      }
    }
  }
}

.user-ranks {
  .rank-list {
    padding-top: 20px;
  }

  .badge {
    position: absolute;
    top: -5px;
    left: 10px;
    padding: 3px 6px;
    background-color: $site-blue;
  }

  .btn-follow {
    margin-top: 20px;
  }

  .view-all {
    a {
      text-decoration: underline;
    }
  }
}

.site-terms {
  text-align: center;
  padding: 10px;

  ul {
    li {
      display: inline-block;
    }
  }
}

.user-feed {
  margin-top: 0;
  padding-top: 0;

  .post-area {
    border-bottom: #d1d1d1 thin solid;

    .btn-post {
      @include centerer(false, true);

      right: 40px;
      height: 40px;
      padding: 3px 20px;
      line-height: 40px;
    }
  }

  textarea {
    width: 80%;
    resize: none;
    background-color: transparent;
    padding: 15px;
    outline: none;
    border: none;
    height: 50px;
    overflow: hidden;
  }
}

.post-item {
  border-bottom: thin #d1d1d1 solid;

  .timestamp {
    color: #b3b3b3;
    font-size: 12px;
    font-style: italic;
  }

  &:last-child {
    border-bottom: none;
  }

  .post-author-photo {
    position: absolute;
  }

  .post-message {
    padding-left: 115px !important;
  }

  .post-item-content {
    padding: 15px 10px;

    .post-message {
      padding-left: 30px;

      h3 {
        margin: 0;

        span {
          padding-left: 15px;
          color: $site-blue;
        }
      }

      .post-author {
        padding-bottom: 10px;

        .timestamp {
          position: absolute;
          top: 0;
          right: 0;
        }
      }
    }
  }

  .user-reactions {
    margin-top: 15px;
    border-bottom: #d1d1d1 thin solid;

    ul {
      li {
        display: inline-block;
        margin: 0 8px;
      }
    }
  }

  .comment-list {
    .author {
      color: $site-blue;
    }

    .comment-item {
      padding-top: 20px;
      padding-bottom: 20px;

      .commenter-photo {
        position: absolute;
      }

      .comment-content {
        padding-left: 55px;
      }
    }

    .comment-reactions {
      ul {
        li {
          display: inline-block;
          margin-right: 10px;
          margin-top: 10px;
        }
      }

      padding-bottom: 15px;
    }

    .comment-replies {
      padding-left: 25px;
      padding-top: 10px;

      .comment-replies-reply {
        background-color: red;
      }
    }

    .reply-list {
      li {
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
  }
}

.reply-box {
  padding-top: 10px;

  .commenter-photo {
    position: absolute;
  }

  &.comment-box {
    .commenter-content {
      textarea {
        width: 89%;
      }
    }
  }

  textarea {
    border: #d1d1d1 thin solid;
    width: 90%;
    padding: 5px 10px;
    height: 30px;
    margin-top: 5px;
    margin-left: 55px;
  }
}
