.feed-profile {
  width: 355px;

  @media only screen and (min-width: 768px) and (max-width: 1199px) {
    width: 35%;
  }

  top: -20px;

  &.profile-details {
    top: -15px;
  }
}

.feed-data-list {
  width: 505px;

  @media only screen and (min-width: 768px) and (max-width: 1199px) {
    width: 65%;
    padding-right: 0;
  }
}

.user-details {
  .user-cover-photo {
    min-height: 280px;
    background-size: cover;
    background-position: center;
  }

  .user-thumbnail-content {
    @include centerer(true, false);

    color: #fff;
    top: 30px;
    text-align: center;

    .thumbnail {
      width: 128px;

      img {
        height: 128px;
      }

      margin: 0 auto;
    }

    .username {
      font-size: 20px;
      font-weight: 700;
      margin: 0;
    }
  }
}

.user-counts {
  background-color: $nav-bg-color;

  .nav {
    li {
      padding: 8px 15px;

      h2 {
        color: $site-blue;
        font-weight: 700;

        @media only screen and (min-width: 768px) and (max-width: 1199px) {
          font-size: 18px;
        }
      }

      p {
        color: #fff;
        text-transform: uppercase;

        @media only screen and (min-width: 768px) and (max-width: 1199px) {
          font-size: 10px;
        }
      }
    }
  }
}

.user-ranks {
  .ranked-photo {
    position: absolute;

    img {
      height: 56px;
      width: 56px;
    }
  }

  .rank-list {
    padding-top: 20px;
  }

  .rank-content {
    width: 240px;
    margin-left: 70px;

    h3 {
      font-size: 16px;

      span {
        padding-left: 5px;

        @media screen and (max-width: 768px) {
          display: none;
        }
      }
    }
  }

  .badge {
    position: absolute;
    top: -5px;
    left: -5px;
    padding: 3px 6px;
    background-color: $site-blue;
  }

  .btn-follow {
    margin-top: 15px;
  }

  .view-all {
    a {
      text-decoration: underline;
    }
  }
}

.site-terms {
  text-align: center;
  padding: 10px;

  ul {
    li {
      display: inline-block;
    }
  }
}

.user-feed {
  margin-top: 0;
  padding-top: 0;

  .post-area {
    border-bottom: $border-color thin solid;

    .btn-post {
      @include centerer(false, true);

      right: 40px;
      padding: 5px 20px;
      top: 32%;
    }

    .extra-post-action {
      padding: 5px;
      border-top: $border-color thin solid;

      ul {
        margin: 0;

        li {
          display: inline-block;

          i {
            color: $site-blue;
            padding-right: 5px;
          }

          a {
            color: #969696;
            padding: 0 20px;
            border-right: $border-color thin solid;
          }
        }
      }
    }
  }

  textarea {
    width: 80%;
    resize: none;
    background-color: transparent;
    padding: 15px;
    outline: none;
    border: none;
    height: 50px;
    overflow: hidden;
  }
}

.post-item {
  border-bottom: thin $border-color solid;

  &:last-child {
    border-bottom: none;
  }

  .post-author-photo,
  .commenter-photo {
    width: 50px;
    height: 50px;
    padding: 0;
    float: left;
  }

  .post-item-content {
    padding: 15px 10px;

    .post-message,
    .comment-content {
      width: 400px;

      @media only screen and (min-width: 768px) and (max-width: 1199px) {
        width: 87%;
      }

      margin-bottom: 20px;
      float: left;
      padding: 0 10px 0 15px;

      h4 {
        margin: 0;
        font-size: 16px;
        color: #3b4448;

        span {
          color: $site-blue;
        }
      }

      .post-author {
        padding-bottom: 10px;

        @media screen and (max-width: 767px) {
          padding: 15px;
        }

        h3 {
          span {
            padding: 0;
            font-size: 16px;
          }
        }

        .timestamp {
          position: absolute;

          @media screen and (max-width: 767px) {
            position: relative;
          }

          top: 0;
          right: 0;
          color: #b3b3b3;
          font-size: 12px;
          font-style: italic;
        }
      }
    }
  }

  .user-reactions {
    margin-top: 15px;

    &.bordered {
      border-bottom: $border-color thin solid;
    }

    ul {
      li {
        display: inline-block;
        margin: 0 8px;

        a {
          font-size: 12px;
          color: #7d7d7d;

          i {
            color: $site-blue;
          }
        }
      }
    }
  }

  .comment-list {
    .author {
      color: $site-blue;
    }

    .comment-item {
      padding-top: 20px;
      padding-bottom: 20px;

      .commenter-photo {
        width: 40px;
        height: 40px;
        float: left;
      }

      .commenter-content {
        float: left;
        width: 405px;

        @media only screen and (min-width: 768px) and (max-width: 1199px) {
          width: 88% !important;
        }

        padding: 0 10px 0 15px;
      }
    }

    .comment-reactions {
      ul {
        li {
          display: inline-block;
          margin-right: 10px;
          margin-top: 10px;

          a {
            color: $site-blue;
            font-size: 12px;
          }

          span {
            font-size: 12px;
            font-style: italic;
            color: #b3b3b3;
          }
        }
      }

      padding-bottom: 15px;
    }

    .comment-replies {
      padding-left: 25px;
      padding-top: 10px;

      .comment-replies-reply {
        background-color: red;
      }
    }

    .reply-list {
      li {
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
  }
}

.reply-box {
  padding-top: 10px;

  .commenter-photo {
    width: 38px !important;
    height: 38px !important;
  }

  .commenter-content {
    width: 340px !important;
  }

  &.comment-box {
    .commenter-photo {
      width: 40px !important;
      height: 40px !important;
    }

    .commenter-content {
      width: 405px !important;
      padding: 0 10px 0 15px;
      float: left;

      @media only screen and (min-width: 768px) and (max-width: 1199px) {
        width: 88% !important;
      }
    }
  }

  textarea {
    border: $border-color thin solid;
    width: 100%;
    padding: 5px 10px;
    height: 30px;
    margin-top: 5px;
  }
}

.comment-replies-list {
  padding-top: 15px;
  padding-bottom: 15px;

  .commenter-photo {
    width: 38px;
    height: 38px;
  }

  .commenter-content {
    width: 340px !important;
  }
}

.chat-box {
  width: 360px;
  position: fixed;
  right: -360px;
  display: flex;
  background-color: #fff;
  flex-direction: column;
  border-left: $border-color thin solid;
  top: 40px;
  word-wrap: break-word;
  transition: .25s ease-in-out;

  &.open {
    right: 0;
  }

  @media screen and (min-width: 1200px) {
    right: 0;
  }

  height: 100%;

  .chat-user-list {
    transition: .25s ease-in-out;
    width: 130px;
    background-color: #fff;

    @include centerer(false, true);

    right: -138px;
    text-align: center;
    z-index: 99;
    border: $border-color thin solid;

    &.open {
      right: 0;
    }

    .title {
      padding: 10px 20px;
      border-bottom: $border-color thin solid;

      span {
        color: #3b4448;
        font-size: 10px;
        text-transform: uppercase;
        font-weight: 700;
      }
    }

    .channel-list {
      border-bottom: $border-color thin solid;

      ul {
        li {
          margin-top: 15px;
          margin-bottom: 15px;

          &.active {
            a {
              background-color: $site-blue;
              color: #fff;
              padding: 5px 20px;
              border-radius: 3px;
            }
          }

          a {
            color: #3b4448;
            font-size: 14px;

            &:hover {
              font-weight: 700;
              text-decoration: none;
            }
          }
        }
      }
    }

    .direct-list {
      ul {
        li {
          position: relative;
          margin-top: 25px;
          margin-bottom: 25px;

          i {
            @include centerer(true, false);

            bottom: -6px;
            color: #b7b7b7;
          }

          &.online {
            i {
              color: #00ff00;
            }
          }

          a {
            display: block;

            img {
              width: 70px;
              height: 70px;
              border-radius: 50%;
              margin: 0 auto;
            }
          }
        }
      }
    }
  }

  .search-burger {
    padding: 10px 15px;
    background-color: #00b3cd;

    .form-group {
      width: 280px;
      margin-bottom: 3px;

      ::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: #fff;
      }

      ::-moz-placeholder {
        /* Firefox 19+ */
        color: #fff;
      }

      :-ms-input-placeholder {
        /* IE 10+ */
        color: #fff;
      }

      :-moz-placeholder {
        /* Firefox 18- */
        color: pink;
      }

      label {
        color: #fff;
      }

      input {
        background-color: transparent;
        color: #fff;
        border-color: #fff;
      }
    }

    .badge {
      position: absolute;
      top: 5px;
      right: 5px;
      z-index: 99;
      font-size: 10px;
      background-color: #f00;
    }
  }

  .user-action-tabs {
    background-color: #00a4bc;
    padding: 4px;
    color: #fff;

    a {
      color: #fff;

      i {
        font-size: 23px;
      }

      &:hover,
      &:focus {
        background-color: transparent;
      }
    }
  }

  .channel-name {
    margin: 0 15px;
    padding: 15px;
    text-align: center;
    border-bottom: 1px $border-color solid;

    span {
      font-size: 12px;
      color: #c2c2c2;
    }

    .channel-text {
      font-size: 14px;
      color: #3b4448;
      font-weight: 700;
    }
  }

  .user-chat-list {
    padding: 30px 15px;

    ul {
      li {
        margin-bottom: 15px;

        .chat-user-photo {
          width: 36px;
          height: 36px;
          position: absolute;
        }

        .chat-user-content {
          padding-left: 55px;

          h5 {
            color: #3b4448;
            font-size: 14px;
            font-weight: 700;

            span {
              color: $site-blue;
              padding-left: 3px;
            }

            small {
              color: $border-color;
              font-size: 12px;
              padding-left: 3px;
              font-style: italic;
            }
          }
        }
      }
    }
  }

  .user-chat-input {
    background-color: #fff;
    width: 100%;
    align-self: flex-end;
    bottom: 0;
    min-height: 75px;
    margin-top: -110px;
    border-top: $border-color thin solid;

    .form-group {
      @include centerer(true, true);

      width: 90%;
      top: 45%;

      input {
        height: 40px;
        text-indent: 10px;
      }

      a {
        display: block;
        width: 30px;
        height: 40px;
        cursor: pointer;
      }

      i {
        top: 0;
        color: #a6a6a6;
        padding-left: 5px;
        font-size: 20px;
      }
    }
  }
}