.feed-profile {
  width: 300px;

  @media only screen and (min-width: 768px) and (max-width: 1199px) {
    width: 35%;
  }

  @media only screen and (max-width: 767px) {
    width: 100%;
  }

  top: -20px;

  &.profile-details {
    top: -15px;
  }
}

.feed-data-list {
  width: 505px;

  @media only screen and (min-width: 768px) and (max-width: 1199px) {
    width: 65%;
    padding-right: 0;
  }

  @media only screen and (max-width: 767px) {
    width: 100%;
    padding: 0;
  }
}

.user-details {
  .user-cover-photo {
    min-height: 280px;
    background-size: cover;
    background-position: center;
  }

  .user-thumbnail-content {
    @include centerer(true, false);

    color: #fff;
    top: 30px;
    text-align: center;

    .thumbnail {
      width: 128px;

      img {
        height: 128px;
      }

      margin: 0 auto;
    }

    .username {
      font-size: 20px;
      font-weight: 700;
      margin: 0;
    }
  }
}

.user-counts {
  background-color: #011111;
  -webkit-box-shadow: 0px -55px 105px -20px rgba(1, 17, 17, 1);
  -moz-box-shadow: 0px -55px 105px -20px rgba(1, 17, 17, 1);
  box-shadow: 0px -55px 105px -20px rgba(1, 17, 17, 1);

  .nav {
    li {
      padding: 8px 15px;

      h2 {
        color: $main-theme-color;
        font-weight: 700;
        font-size: 20px;

        @media only screen and (min-width: 768px) and (max-width: 1199px) {
          font-size: 18px;
        }
      }

      p {
        color: #fff;
        text-transform: uppercase;
        font-size: 11px;

        @media only screen and (min-width: 768px) and (max-width: 1199px) {
          font-size: 10px;
        }
      }
    }
  }
}

.user-ranks, .notification-list {
  .ranked-photo {
    position: absolute;

    img {
      height: 56px;
      width: 56px;
    }
  }

  .rank-list {
    padding-top: 20px;
  }

  .rank-content {
    width: 240px;
    margin-left: 70px;

    h3 {
      font-size: 16px;

      span {
        padding-left: 5px;

        @media screen and (max-width: 768px) {
          display: none;
        }
      }
    }
  }

  .badge {
    position: absolute;
    top: -5px;
    left: -5px;
    padding: 3px 6px;
    background-color: $main-theme-color;
  }

  .btn-follow {
    margin-top: 15px;
  }

  .view-all {
    a {
      text-decoration: underline;
    }
  }
}

.site-terms {
  text-align: center;
  padding: 10px;

  ul {
    li {
      display: inline-block;
    }
  }
}

.user-feed {
  margin-top: 0;
  padding-top: 0;

  .post-area {
    border-bottom: $border-color thin solid;

    .btn-post {
      @include centerer(false, true);

      right: 25px;
      padding: 5px 20px;
      top: 32%;
    }

    .extra-post-action {
      padding: 5px;
      border-top: $border-color thin solid;

      ul {
        margin: 0;

        li {
          display: inline-block;

          i {
            color: $main-theme-color;
            padding-right: 5px;
          }

          a {
            color: #969696;
            padding: 0 20px;
            border-right: $border-color thin solid;
          }
        }
      }
    }
  }

  textarea {
    width: 80%;
    resize: none;
    background-color: transparent;
    padding: 15px;
    outline: none;
    border: none;
    height: 50px;
    overflow: hidden;
  }
}

.post-item {
  border-bottom: thin $border-color solid;

  .uploaded-images {
    .upload-image {
      float: left;
      padding: 5px;

      &.uploaded-image-1 {
        width: 100%;
      }

      &.uploaded-image-2 {
        width: 50%;
      }

      &.uploaded-image-3 {
        width: 33.33%;
      }

      &.uploaded-image-4 {
        width: 25%;
      }

      &.uploaded-image-5 {
        width: 20%;
      }
    }
  }

  a {
    &:focus,
    &:visited {
      text-decoration: none;
    }
  }

  &:last-child {
    border-bottom: none;
  }

  .post-author-photo,
  .commenter-photo {
    width: 50px;
    height: 50px;
    padding: 0;
    position: absolute;
  }

  .post-content {
    padding-left: 45px;
    word-break: break-all;
  }

  .post-item-content {
    padding: 15px 10px;

    .post-message,
    .comment-content {
      @media only screen and (min-width: 768px) and (max-width: 1199px) {
        width: 87%;
      }

      @media only screen and (max-width: 767px) {
        width: 80%;
        padding: 0;
      }

      margin-bottom: 20px;
      float: left;
      padding: 0 10px 0 15px;

      h4 {
        margin: 0;
        font-size: 16px;
        color: #3b4448;

        span {
          color: $main-theme-color;
        }
      }

      .post-author {
        padding-bottom: 10px;

        @media screen and (max-width: 767px) {
          padding: 15px;
        }

        h3 {
          span {
            padding: 0;
            font-size: 16px;
          }
        }

        .timestamp {
          position: absolute;

          @media screen and (max-width: 767px) {
            position: relative;
          }

          top: 0;
          right: 0;
          color: #b3b3b3;
          font-size: 12px;
          font-style: italic;
        }
      }
    }
  }

  .user-reactions {
    margin-top: 15px;

    &.bordered {
      border-bottom: $border-color thin solid;
    }

    ul {
      li {
        display: inline-block;
        margin: 0 8px;

        a {
          font-size: 12px;
          color: #7d7d7d;

          @media only screen and (max-width: 767px) {
            font-size: 11px;
          }

          i {
            color: $main-theme-color;
          }
        }
      }
    }
  }

  .comment-list {
    & > ul {
      padding-left: 45px !important;
    }

    .author {
      color: $main-theme-color;
    }

    .comment-item {
      padding-top: 15px;

      .commenter-photo {
        width: 40px;
        height: 40px;
        position: absolute;

        @media only screen and (max-width: 767px) {
          display: none;
        }
      }

      .commenter-content {
        padding-left: 50px;
        word-wrap: break-word;

        @media only screen and (min-width: 768px) and (max-width: 1199px) {
          width: 88% !important;
        }

        @media only screen and (max-width: 767px) {
          width: 100% !important;
        }
      }
    }

    .comment-reactions {
      ul {
        li {
          display: inline-block;
          margin-right: 10px;
          margin-top: 10px;

          a {
            color: $main-theme-color;
            font-size: 12px;
          }

          span {
            font-size: 12px;
            font-style: italic;
            color: #b3b3b3;
          }
        }
      }
    }

    .comment-replies {
      padding-left: 25px;
      padding-top: 10px;

      .comment-replies-reply {
        background-color: red;
      }
    }

    .reply-list {
      li {
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
  }
}

.reply-box {
  margin-left: 45px;

  .commenter-photo {
    width: 38px !important;
    height: 38px !important;
  }

  .commenter-content {
    border: $border-color thin solid;
    padding: 10px;
    background-color: #f9fbfb;
  }

  &.comment-box {
    .commenter-photo {
      width: 40px !important;
      height: 40px !important;
    }

    .commenter-content {
      @media only screen and (min-width: 768px) and (max-width: 1199px) {
        width: 88% !important;
      }

      @media only screen and (max-width: 767px) {
        width: 85% !important;
      }
    }
  }

  textarea {
    border: $border-color thin solid;
    padding: 5px 10px;
    padding-right: 35px;
    height: 30px;
    margin-top: 5px;
    margin-left: 45px;
  }

  .btn-send {
    @include centerer(false, true);

    color: $border-color;
    outline: none;
    border: none;
    background-color: transparent;
    right: 40px;
  }

  .btn-send-files {
    @include centerer(false, true);

    color: $main-theme-color;
    outline: none;
    font-size: 16px;
    right: 5px;
    border: none;
    background-color: transparent;
  }
}

.comment-replies-list {
  padding-top: 15px;
  padding-bottom: 15px;

  .commenter-photo {
    width: 38px;
    height: 38px;
  }

  .commenter-content {
    width: 340px !important;
  }
}

.chat-box {
  width: 313px;
  position: fixed;
  right: 160px;
  display: flex;
  background-color: #fff;
  flex-direction: column;
  z-index: 99;
  border-left: $border-color thin solid;
  border-right: $border-color thin solid;
  top: 40px;
  word-wrap: break-word;
  transition: .25s ease-in-out;

  @media only screen and (max-width: 767px) {
    width: 100% !important;
  }

  height: 100%;

  .chat-user-list {
    width: 160px;
    background-color: #fff;
    z-index: 9999;
    position: fixed;
    right: 0;
    text-align: left;
    min-height: 100%;
    z-index: 999999;
    border: $border-color thin solid;
    border-left: none;

    .badge {
      background-color: $main-theme-color;
    }

    @media screen and (max-width: 767px) {
      top: 54%;
      height: 300px;
    }

    &.open {
      right: 0;
    }

    .title {
      padding: 15px;
      text-align: center;
      background-color: #e8e8e8;
      border-bottom: $border-color thin solid;

      span {
        color: #3b4448;
        font-size: 10px;
        text-transform: uppercase;
        font-weight: 700;
      }
    }

    .channel-list {
      border-bottom: $border-color thin solid;
      padding: 3px;

      ul {
        li {
          border-radius: 3px;
          padding: 5px 8px;

          &.active {
            background-color: $secondary-theme-color;

            a {
              color: #fff !important;
            }
          }

          a {
            color: #3b4448;
            font-size: 14px;

            &:hover {
              font-weight: 700;
              text-decoration: none;
            }
          }
        }
      }
    }

    .direct-list {
      padding: 3px;

      ul {
        li {
          position: relative;
          border-radius: 3px;
          padding: 5px;
          display: block;

          i {
            position: absolute;
            top: 10px;
            color: $border-color;
          }

          &.has-recent {
            a {
              font-weight: 700;
            }
          }

          &.online {
            i {
              color: #00ff00;
            }
          }

          a {
            padding-left: 20px;
            color: #3b4448 !important;

            img {
              width: 70px;
              height: 70px;
              border-radius: 50%;
              margin: 0 auto;
            }
          }
        }
      }
    }
  }

  .search-burger {
    padding: 10px 15px;
    background-color: $main-theme-color;

    .form-group {
      width: 280px;
      margin-bottom: 3px;

      @media only screen and (max-width: 767px) {
        width: 250px !important;
      }

      ::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: #fff;
      }

      ::-moz-placeholder {
        /* Firefox 19+ */
        color: #fff;
      }

      :-ms-input-placeholder {
        /* IE 10+ */
        color: #fff;
      }

      :-moz-placeholder {
        /* Firefox 18- */
        color: pink;
      }

      label {
        color: #fff;
      }

      input {
        background-color: transparent;
        color: #fff;
        border-color: #fff;
      }
    }

    .badge {
      position: absolute;
      top: 5px;
      right: 5px;
      z-index: 99;
      font-size: 10px;
      background-color: #f00;
    }
  }

  .user-action-tabs {
    background-color: $main-theme-color;
    color: #fff;

    ul {
      @media only screen and (max-width: 767px) {
        text-align: center;
      }

      li {
        &.active {
          a {
            color: #c2c2c2 !important;
          }
        }

        @media only screen and (max-width: 767px) {
          display: inline-block;
        }
      }
    }

    a {
      color: #fff !important;

      i {
        font-size: 23px;
      }

      &:hover,
      &:focus {
        background-color: transparent;
      }
    }
  }

  .channel-name {
    margin: 0 15px;
    padding: 8px;
    text-align: center;
    border-bottom: 1px $border-color solid;

    span {
      font-size: 12px;
      color: #c2c2c2;
    }

    .channel-text {
      font-size: 14px;
      color: #3b4448;
      font-weight: 700;
    }
  }

  .user-chat-list {
    padding: 30px 15px;

    ul {
      li {
        margin-bottom: 15px;

        .chat-user-photo {
          width: 36px;
          height: 36px;
          position: absolute;
        }

        .chat-user-content {
          padding-left: 55px;

          h5 {
            color: #3b4448;
            font-size: 14px;
            font-weight: 700;

            span {
              color: $main-theme-color;
              padding-left: 3px;
            }

            small {
              color: $border-color;
              font-size: 12px;
              padding-left: 3px;
              font-style: italic;
            }
          }
        }
      }
    }
  }

  .user-chat-input {
    background-color: #e8e8e8;
    width: 100%;
    position: absolute;
    bottom: 40px;
    min-height: 75px;
    border-top: $border-color thin solid;

    .form-group {
      @include centerer(true, true);

      width: 90%;
      top: 45%;

      input {
        height: 40px;
        text-indent: 10px;
      }

      a {
        display: block;
        width: 30px;
        height: 40px;
        cursor: pointer;
      }

      i {
        top: 0;
        color: #a6a6a6;
        padding-left: 5px;
        font-size: 20px;
      }
    }
  }
}