.user-details {
  .user-cover-photo {
    min-height: 280px;
    background-size: cover;
    background-position: center;
  }

  .user-thumbnail-content {
    @include centerer(true, false);

    color: #fff;
    top: 30px;
    text-align: center;

    .thumbnail {
      width: 128px;
      margin: 0 auto;
    }

    .username {
      font-size: 30px;
      margin: 0;
      font-family: 'Helvetica-Bold';
    }
  }

  .user-counts {
    background-color: $nav-bg-color;

    .nav {
      li {
        padding: 8px 15px;
        text-align: center;

        h2 {
          color: $site-blue;
        }

        p {
          color: #fff;
          text-transform: uppercase;
        }
      }
    }
  }
}

.user-ranks {
  .rank-list {
    padding-top: 20px;
  }

  .badge {
    position: absolute;
    top: -5px;
    left: 10px;
    padding: 3px 6px;
    background-color: $site-blue;
  }

  .btn-follow {
    margin-top: 20px;
  }

  .view-all {
    a {
      text-decoration: underline;
    }
  }
}

.site-terms {
  text-align: center;
  padding: 10px;

  ul {
    li {
      display: inline-block;
    }
  }
}

.user-feed {
  margin-top: 0;
  padding-top: 0;

  .post-area {
    border-bottom: thin #d1d1d1 solid;

    .btn-post {
      @include centerer(false, true);

      right: 40px;
      height: 40px;
      padding: 3px 20px;
      line-height: 40px;
    }
  }

  textarea {
    width: 100%;
    resize: none;
    background-color: transparent;
    padding: 0 15px;
    outline: none;
    border: none;
    height: 50px;
    line-height: 50px;
  }
}
