.profile-banner {
  min-height: 520px;
  margin-top: -20px;
  background-size: cover;
  background-repeat: no-repeat;

  &.wide-profile {
    @media screen and (min-width: 1200px) {
      width: 82%;
    }
  }
}

.user-counts {
  &.wide-profile {
    @media screen and (min-width: 1200px) {
      width: 82%;
    }
  }
}

.user-banner-cover {
  width: 230px;

  @include centerer(true, true);

  .cover-name {
    text-align: center;
    color: #fff;

    h2 {
      margin: 0;
    }
  }
}

.profile-section {
  margin-top: 20px;

  @media screen and (min-width: 1200px) {
    width: 82%;
  }
}

.user-profile-photos {
  margin-top: 0;
}

.photo-item {
  padding: 0;
}
