.profile-main-container {
  .profile-banner {
    min-height: 235px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 850px;
    margin-top: -3px;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      width: 100%;
    }
  }

  .user-counts {
    width: 850px;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      width: 100%;
    }

    min-height: 60px;
    background-color: #011111;

    h2 {
      font-size: 25px;
      margin-top: 10px;
    }

    p {
      font-size: 16px;
    }

    .nav {
      margin: 0 auto;
      text-align: center;

      li {
        display: inline-block;
        padding: 0 50px;
      }
    }
  }

  .user-banner-cover {
    width: 135px;

    @include centerer(true, true);

    .cover-name {
      text-align: center;
      color: #fff;

      h2 {
        margin: 0;
        font-size: 25px;
        font-weight: 700;
      }
    }
  }

  .profile-section {
    margin-top: 10px;
  }

  .user-profile-photos {
    margin-top: 0;
  }

  .photo-item {
    padding: 0;
  }
}