.btn-main {
  background-color: $main-btn;
  border-radius: 2px;
  border: none;
  padding: 10px 15px;
  font-size: 25px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  color: #fff;
  transition: all 0.45s;


  &:hover {
    color: #fff;
    background: linear-gradient(0deg, $main-btn-light, $main-btn-light 18px, $main-btn-light 10px, $main-btn-light 10px);
  }

  @media (max-width: 767px){}
  @media (min-width: 768px) and (max-width: 1199px){}
  @media (min-width: 1200px) {
    width: 340px;
    height: 55px;
  }
}

.btn-sub {
  min-width: 320px;
  padding: 10px 20px 10px 20px;
  background-color: $main-btn;
  border-radius: 2px;
  border: none;
  font-size: 25px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color: #fff;
  // transition: all 0.45s;
  text-transform: none;
  &:hover, &:active{
    color: #fff;
    background: linear-gradient(0deg, $main-btn-light, $main-btn-light 18px, $main-btn-light 10px, $main-btn-light 10px);
    border: none;
  }
  @media screen and (max-width: 320px) {
    min-width: 270px;
    font-size: 20px;
  }
}
.btn-modal {
  @include centerer(true, false);
  min-width: 320px;
  line-height: 65px;
  min-height: 65px;
  padding: 10px 15px;
  background-color: $main-btn;
  border-radius: 2px;
  border: none;
  font-size: 25px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color: #fff;
  // transition: all 0.45s;
  text-transform: none;
  &:hover, &:active{
    color: #fff;
    background: linear-gradient(0deg, $main-btn-light, $main-btn-light 18px, $main-btn-light 10px, $main-btn-light 10px);
    border: none;
  }
}

.btn-small {
  min-width: 195px;
  border: 2px solid $main-btn;
  // line-height: 55px;
  padding: 10px 15px;
  background-color: $main-btn;
  border-radius: 2px;
  font-size: 22px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color: #fff;
  transition: all 0.45s;
  text-transform: none;
  &:hover {
    color: #fff;
    background: linear-gradient(0deg, $main-btn-light, $main-btn-light 18px, $main-btn-light 10px, $main-btn-light 10px);
  }
  @media screen and (max-width:414px){
    width: 100%;
  }
}

.btn-small-light {
  min-width: 195px;
  padding: 10px 15px;
  background-color: transparent;
  border-radius: 2px;
  border: 2px solid #a6a6a6;
  font-size: 22px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color: #a6a6a6;
  transition: all 0.45s;
  text-transform: none;
  &:hover {
    color: $main-btn-light;
    text-shadow: none;
  }
  @media screen and (max-width:414px){
    width: 100%;
  }
}

.btn-drop{
  width: 400px;
  background-color: #fff;
  color: #636363;
  text-align: left;
  height: 50px;
  font-size: 16px;
  border: 1px solid #bdc7d8;
  span {
    float: right;
    padding: 5px;
  }

  &:hover {
    color: #636363;
    background: #fff;
    box-shadow: none;
    outline-color: none;
    outline-offset: none;
    text-shadow: none;
  }
  &:active {
    box-shadow: none;
  }
}

