html,
body {
  height: 100%;
  margin: 0px;
  font-family: 'Lato', sans-serif;
  color: #3b4448;
}

body {
  padding-top: 45px;
}

.unpadded {
  padding: 0 !important;
}

a {
  color: $main-theme-color !important;
}

div,
section {
  position: relative;
}

ul {
  padding: 0;
  list-style-type: none;
}

.container {
  @media (min-width: 1200px) {
    width: 1300px;
  }
}

.widgets {
  border: thin $border-color solid;
  position: relative;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #fff;
  padding: 10px 15px;

  .widget-header {
    position: relative;

    h3 {
      font-size: 16px;
      font-family: 'Lato', sans-serif;
      font-weight: 700;
      margin: 0;

      i {
        padding-right: 10px;
      }
    }
  }

  .widget-option {
    @include centerer(false, true);

    color: #d6d6d6;
    right: -5px;
    font-size: 18px;
  }

  .widget-content {
    padding-top: 25px;

    .photos-list {}
  }

  .list-content {
    h3 {
      margin: 0;
      font-size: 20px;
      color: $nav-bg-color;

      span {
        padding-left: 15px;
        color: $main-theme-color;
      }
    }
  }
}

.rank-list {
  li {
    margin-bottom: 25px;
  }
}

.delete-follow {
  right: 0;
  position: absolute;
  color: #d8d8d8;
  z-index: 999;
  font-size: 16px;
}

.btn {
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
  border: none;
  border: none;
  background-color: $main-theme-color;

  i {
    font-size: 30px;
    vertical-align: middle;
  }

  span {
    padding-left: 8px;
  }
}

// @media screen and (min-width: 1200px) {
//   .container {
//     width: 1366px;
//   }
// }

.btn-lg {
  display: flex;
  align-items: center;
  justify-content: center;

  .fa {
    padding-top: 0 !important;
  }
}

.widget-section {
  float: left;
  padding: 15px;
}

.center-block {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.input-group .icon-addon .form-control {
  border-radius: 0;
}

.icon-addon {
  position: relative;
  color: #555;
  display: block;
}

.icon-addon:after,
.icon-addon:before {
  display: table;
  content: ' ';
}

.icon-addon:after {
  clear: both;
}

.icon-addon.addon-md .glyphicon,
.icon-addon .glyphicon,
.icon-addon.addon-md .fa,
.icon-addon .fa {
  position: absolute;
  z-index: 2;
  left: 10px;
  font-size: 14px;
  width: 20px;
  margin-left: -2.5px;
  text-align: center;
  padding: 10px 0;
  top: 1px;
}

.icon-addon.addon-lg .form-control {
  line-height: 1.33;
  height: 46px;
  font-size: 18px;
  padding: 10px 16px 10px 40px;
}

.icon-addon.addon-sm .form-control {
  height: 30px;
  padding: 5px 10px 5px 28px;
  font-size: 12px;
  line-height: 1.5;
}

.icon-addon.addon-lg .fa,
.icon-addon.addon-lg .glyphicon {
  font-size: 18px;
  margin-left: 0;
  left: 11px;
  top: 4px;
}

.icon-addon.addon-md .form-control,
.icon-addon .form-control {
  padding-left: 30px;
  float: left;
  font-weight: normal;
}

.icon-addon.addon-sm .fa,
.icon-addon.addon-sm .glyphicon {
  margin-left: 0;
  font-size: 12px;
  left: 5px;
  top: -1px;
}

.icon-addon .form-control:focus + .glyphicon,
.icon-addon:hover .glyphicon,
.icon-addon .form-control:focus + .fa,
.icon-addon:hover .fa {
  color: #2580db;
}

.popover {
  position: fixed;
  z-index: 9999;

  ul {
    li {
      margin-bottom: 5px;

      a {
        color: $border-color;

        i {
          color: $main-theme-color;
          padding-right: 5px;
        }
      }
    }
  }
}

.blue {
  color: $main-theme-color;
}