html,
body {
  height: 100%;
  margin: 0px;
  font-family: 'Lato', sans-serif;
  color: #3b4448;
}

body {
  padding-top: 45px;

  &.modal-open {
    padding-right: 0 !important;
    overflow: hidden;
  }
}

.unpadded {
  padding: 0 !important;
}

a {
  color: $main-theme-color !important;
}

a[href=''], a:not([href]) {
  cursor: pointer;
}

div,
section {
  position: relative;
}

ul {
  padding: 0;
  list-style-type: none;
}

.container {
  @media (min-width: 1200px) {
    width: 1300px;
  }
}

.widgets {
  border: thin $border-color solid;
  position: relative;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #fff;
  padding: 10px 15px;

  .widget-header {
    position: relative;

    h3 {
      font-size: 16px;
      font-family: 'Lato', sans-serif;
      font-weight: 700;
      margin: 0;

      i {
        padding-right: 10px;
      }
    }
  }

  .widget-option {
    @include centerer(false, true);

    color: #d6d6d6;
    right: -5px;
    font-size: 18px;
  }

  .widget-content {
    padding-top: 25px;

    .photos-list {
      .photo-item {
        padding: 2px;
      }

      img {
        width: 89px;
        height: 89px;
      }
    }
  }

  .list-content {
    h3 {
      margin: 0;
      font-size: 20px;
      color: $nav-bg-color;

      span {
        padding-left: 15px;
        color: $main-theme-color;
      }
    }
  }
}

.rank-list {
  li {
    margin-bottom: 25px;
  }
}

.delete-follow {
  right: 0;
  position: absolute;
  color: #d8d8d8;
  z-index: 999;
  font-size: 16px;
}

a {
  text-decoration: none !important;

  &:hover {
    text-decoration: none !important;
  }
}

button {
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);

  &:hover {
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.3), 0 0 20px rgba(255, 255, 255, 0.2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388;
  }
}

.btn {
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
  border: none;
  background-color: $main-theme-color;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);

  &:hover {
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388;
    color: #fff;
  }

  i {
    // font-size: 30px;
    vertical-align: middle;
  }

  span {
    padding-left: 8px;
  }
}

.btn-follow-user {
  padding: 6px 12px;

  i {
    font-size: 12px !important;
    margin-top: -2px;
  }
}

.btn-lg {
  display: flex;
  align-items: center;
  justify-content: center;

  .fa {
    padding-top: 0 !important;
  }
}

.widget-section {
  float: left;
  padding: 15px;
}

.center-block {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.input-group .icon-addon .form-control {
  border-radius: 0;
}

.icon-addon {
  position: relative;
  color: #555;
  display: block;
}

.icon-addon:after,
.icon-addon:before {
  display: table;
  content: ' ';
}

.icon-addon:after {
  clear: both;
}

.icon-addon.addon-md .glyphicon,
.icon-addon .glyphicon,
.icon-addon.addon-md .fa,
.icon-addon .fa {
  position: absolute;
  z-index: 2;
  left: 10px;
  font-size: 14px;
  width: 20px;
  margin-left: -2.5px;
  text-align: center;
  padding: 10px 0;
  top: 1px;
}

.icon-addon.addon-lg .form-control {
  line-height: 1.33;
  height: 46px;
  font-size: 18px;
  padding: 10px 16px 10px 40px;
}

.icon-addon.addon-sm .form-control {
  height: 30px;
  padding: 5px 10px 5px 28px;
  font-size: 12px;
  line-height: 1.5;
}

.icon-addon.addon-lg .fa,
.icon-addon.addon-lg .glyphicon {
  font-size: 18px;
  margin-left: 0;
  left: 11px;
  top: 4px;
}

.icon-addon.addon-md .form-control,
.icon-addon .form-control {
  padding-left: 30px;
  float: left;
  font-weight: normal;
}

.icon-addon.addon-sm .fa,
.icon-addon.addon-sm .glyphicon {
  margin-left: 0;
  font-size: 12px;
  left: 5px;
  top: -1px;
}

.icon-addon .form-control:focus + .glyphicon,
.icon-addon:hover .glyphicon,
.icon-addon .form-control:focus + .fa,
.icon-addon:hover .fa {
  color: #2580db;
}

body.modal-open .popover {
  z-index: 9999;
}

.popover {
  position: absolute;
  z-index: 99999;

  ul {
    li {
      margin-bottom: 5px;

      a {
        color: $border-color;

        i {
          color: $main-theme-color;
          padding-right: 5px;
        }
      }
    }
  }
}

.timestamp-gray {
  color: #b3b3b3 !important;

  i {
    font-size: 13px;
    font-style: normal;
  }
}

.blue {
  color: $main-theme-color;
}

.alert {
  &.alert-default {
    margin-bottom: 0;
  }

  &.alert-info {
    margin-top: 20px;
  }
}

.carousel, .item, .active {
  height: 100%;
}

.carousel-inner {
  height: 100%;
}

.fill {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.add-chanel-action {
  select {
    width: 85%;
  }

  .btn {
    position: absolute;
    right: -5px;
    font-size: 10px;

    i {
      font-size: 10px;
      padding-right: 2px;
    }
  }
}

.dropdown.suggest {
  z-index: 9999;

  .dropdown-menu {
    min-width: 200px;

    a {
      width: 100% !important;
      height: 100% !important;
    }
  }
}

.faded-overlay {
  width: 100%;
  height: 100%;
  background-position: center;
  position: absolute;
  bottom: 0;
  background-repeat: repeat;
  background-image: url('/assets/images/overlay.png');
}

.loading-circ {
  @include centerer(true, true);
}

.link-preview {
  background-color: #f2fbff !important;
  border-color: #e4ecf0 !important;
}


