$nav-bg-color: #3b4448;
$body-bg: #f3f7f8;
$main-theme-color: #00b3cd;
$secondary-theme-color: #1ea8e3;
$border-color: #d1d1d1;
$gray-color: #969696;
$nav-color: #14b3cb;
$main-color: #14b3cb;
$footer-bg: #f9f9f9;
$foot-site: #929292;
$foot-bottom: #3d3d3d;
$border-box: #dcdcdc;
$border-box-bg: #f6f7f8;
$title-gray: #2f3737;
$btn-sm-bg: #fdfdfd;
$foot2-color: #343434;
$nav-modal: #00b3cd;
