.navbar {
  background-color: #011111;
  height: 40px;
}

.chat-toggle {
  font-size: 24px;
  color: #fff;
  right: 0;
  position: absolute;

  .badge {
    background-color: #f00;
  }
}

.navbar-md {
  min-height: 40px;

  .navbar-brand {
    padding-top: 7px !important;
    height: 40px;
  }

  .navbar-brand,
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .navbar-toggle {
    margin: 6px 12px 6px 0px;
    padding: 6px 7px 6px 7px;

    .icon-bar {
      width: 19px;
    }
  }

  .main-nav {
    padding-left: 35px;

    li {
      a {
        font-size: 23px;
        margin-left: 10px;
        color: #fff;
        margin-right: 10px;
        padding-top: 8px;
        padding-bottom: 8px;
      }
    }
  }

  .search {
    padding-left: 75px;

    .navbar-form {
      padding: 0;
      margin: 0;
      margin-top: 3px;
    }

    button,
    input {
      background-color: transparent;
      border-radius: 0;
      border: none;

      &:focus,
      &:hover {
        border: none;
        background-color: transparent;
        box-shadow: none;
      }

      i {
        font-size: 16px;
      }
    }

    button {
      padding: 2px 9px;
      border-right: #fff thin solid;
    }

    input {
      color: $gray-color;
    }
  }
}