$icon-font-path: '../fonts/';

/*----- VENDORS-------
----------------------*/

// bower:scss
@import 'bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss';
@import 'bower_components/font-awesome/scss/font-awesome.scss';

// endbower

/*----- FONTS-------
----------------------*/

@import 'base/fonts';

/*-----VARIABLES----
-----------------------*/

@import 'base/variables';

/*-----MIX-INS AND PLACEHOLDER -------
-----------------------*/

@import 'base/mixins';

/*-----SPRITES-------
-----------------------*/

/*-----LAYOUTS-------
-----------------------*/

@import 'layouts/header';
@import 'layouts/footer';
@import 'layouts/body';

/*-----MODULES-------
-----------------------*/

@import 'base/sprites';
@import 'base/burger';

/*-----GLOBALS--------
--------------------------*/

@import 'base/globals';
@import 'base/socials';

/*-----PAGES-------
-----------------------*/

@import 'pages/home';
@import 'pages/login';
@import 'pages/profile';
@import 'pages/notifications';